<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.CityMapper">
    <select id="findBySearch"  resultType="cn.entity.City">
        SELECT * FROM city order by searchSum desc
    </select>

    <select id="findAll" resultType="cn.entity.City">
        SELECT * FROM city WHERE p_id= #{id}
    </select>
</mapper>