<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mapper.PackageMapper">
    <select id="findHotPackage" resultType="cn.entity.Package">
        select * from package group by p_pay_sum
        order by p_pay_sum desc
        limit 0,2;
    </select>
    <select id="findDetail" resultType="cn.entity.Package">
        SELECT * FROM package where id = #{packageId}
    </select>

    <select id="findPackListByViewId" resultType="cn.entity.Package">
       select * from package where bplace=#{cName}
       and eplace=#{viewName}
    </select>
    <select id="findByViewId" resultType="java.lang.String">
        select v_name from viewspot where id=#{vId}
    </select>
</mapper>