body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,hr,button,article,
aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
fieldset,img{border:0}
a{text-decoration: none;color: #333;}
a:hover{text-decoration: underline;}
.l_fl{float: left;}
.l_fr{float: right;}
.l_cl{clear:both;font-size:0;}
.l_wrap{
	width: 1000px;
	margin:0 auto;
}
.l_lv-crumbs{
	height:24px;line-height:24px;padding:5px 0;
	font-size: 12px;
}
.l_lv-crumbs p {
	color: #888;
}
.l_lv-crumbs b{
	font-weight:normal;color:#333
}
.l_lv-crumbs a{
	color:#06c;
}
/*!
 * 右边开始
 **/
.l_ui-content{background:#fff;font: 12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;}
.l_ui-content .search-aside a{color:#06c; }
.l_ui-content .search-aside .tuan-title a:hover{color:#019934; }
.l_ui-content .abtn{background:url(../images/ddi12.jpg) no-repeat 0px -2px;display:inline-block;*display:inline;*zoom:1;
	width: 75px;height:26px;cursor:pointer;text-align:center;padding:0;color: white;}
.l_ui-content .abtn:hover{text-decoration:none}
.l_ui-content .abtn-block{background-position:0 -135px;width:75px;height:26px;line-height:26px;font-weight:bold;color:#fff}
.l_ui-content .abtn-block:hover{background-position:0 -161px;color:#fff}
.l_ui-content .abtn-gray{background-position:0 -187px;width:51px;height:23px;text-align:center;line-height:23px;color:#333}
.l_ui-content .abtn-gray:hover{background-position:0 -210px;color:#333}
.l_ui-content .score-reviews{margin-right:-10px;overflow:hidden}
.l_ui-content .score-total{float:left;display:inline;width:95px;text-align:center;margin-right:4px}
.l_ui-content .score-totaldfn{color:#e53c8d;height:31px;line-height:30px}.score-total dfn i{font-size:30px}
.l_ui-content .score-item{overflow:hidden}
.l_ui-content .score-item{line-height:24px;*margin-right:-10px}
.l_ui-content .lv-icon,.ico-order,.icon-close{background:url(../images/combo.gif) 1000px 1000px no-repeat;
	display:inline-block;*display:inline;*zoom:1}
.l_ui-content .search-aside .lv-icon{width:16px;height:16px;float:left;display:inline;margin:5px 5px 0 0}
.l_ui-content .icon-lv16-001{background-position:0 0}
.l_ui-content .icon-lv16-002{background-position:0 -16px}
.l_ui-content .icon-lv16-003{background-position:0 -32px}
.l_ui-content .icon-lv16-004{background-position:0 -48px}
.l_ui-content .info-item-selected .icon-lv16-001,.info-item-hover .icon-lv16-001{background-position:-16px 0}
.l_ui-content .info-item-selected .icon-lv16-002,.info-item-hover .icon-lv16-002{background-position:-16px -16px}
.l_ui-content .info-item-selected .icon-lv16-003,.info-item-hover .icon-lv16-003{background-position:-16px -32px}
.l_ui-content .info-item-selected .icon-lv16-004{background-position:-16px -48px}.icon-close{background-position:-16px -96px;width:13px;
 	height:13px;cursor:pointer}
.l_ui-content .search-aside{width:200px;float:right}
.l_ui-content .search-main{width:790px;float:left}
.l_ui-content .lv-bd{border:1px solid #ddd}
.l_ui-content .aside-box{margin-bottom:10px}
.l_ui-content .side-title{font-size:14px;min-height:18px;_height:18px;line-height:18px;padding:8px 0}
.l_ui-content .side-title small{font-size:12px;font-weight:normal;padding-left:3px;}
.l_ui-content .side-title a{color:#333;text-decoration:none;font-weight: bold}
.l_ui-content .side-info{background:#f9f9f9}
.l_ui-content .side-info a{position:relative}
.l_ui-content .sub-info-item .icon-hot{position:absolute;top:1px;left:138px}
.l_ui-content .side-info .side-title{padding-left:10px;color:#333;height:18px;line-height:18px;background:#eee}
.l_ui-content .side-info-list{overflow:hidden;padding:0 0 5px 0;width:188px;*zoom:1;*position:relative}
.l_ui-content .info-item{overflow:hidden;line-height:28px;padding-left:10px;display:block;*zoom:1}
.l_ui-content .info-item a,.info-item .sub-info-list a{float:left;display:inline;*zoom:1;font-weight:normal}
.l_ui-content .info-item a{width:100%;_width:auto}
.l_ui-content .info-item .sub-info-list a{margin-right:-25px}
.l_ui-content .info-item a:hover,.info-item-hover a{text-decoration:none;cursor:pointer}
.l_ui-content .info-num{color:#888;font-family:Arial,Helvetica,sans-serif}
.l_ui-content .info-item-selected a{color:#019934}
.l_ui-content .sub-info-list .info-item-selected a,
.l_ui-content .sub-info-list .info-item a:hover,
.l_ui-content .sub-info-list .info-item-hover a{color:#019934;font-weight:normal}
.l_ui-content .info-item-hover .info-num,
.l_ui-content .info-item-selected ul .info-num{color:#888}
.l_ui-content .sub-info-item a{padding-left:4px}
.l_ui-content .sub-info-list .info-num{color:#888}
.l_ui-content .sub-info-item{border:none;*zoom:1}
.l_ui-content .sub-info-list a{color:#06c;float:left;display:inline;*zoom:1;font-weight:normal}
.l_ui-content .sub-info-list{clear:both}
.l_ui-content .sub-info-list{margin-left:-10px;padding-left:10px;background:#f9f9f9;overflow:hidden;*zoom:1}
.l_ui-content .sub-info-list .info-item-selected a,.info-item-selected{background:#019934;*zoom:1}
.l_ui-content .info-item-selected .sub-info-item a{color:#06c}
.l_ui-content .sub-info-list .info-item-selected a,
.l_ui-content .info-item-selected a{color:#fff;font-weight:bold}
.l_ui-content .info-item-selected .info-num,
.l_ui-content .info-item-selected ul .info-item-selected .info-num{color:#fff}
.l_ui-content .info-item-selected .info-item-hover a:hover{color:#019934}
.l_ui-content .sub-info-list .info-item-selected a:hover{color:#fff}
.l_ui-content .side-stuan{padding:0 10px 8px;overflow: hidden;_zoom:1;}
.l_ui-content .side-stuan .link-more{float:right;margin-top:-5px}
.l_ui-content .side-stuan .abtn{float:right;margin-top:2px;color: white;}
.l_ui-content .stuan-list,.stuan-item,.stuan-item p.img{*zoom:1}
.l_ui-content .stuan-item{margin:0 0 15px;overflow:hidden}
.l_ui-content .tuan-title{margin-bottom:3px}
.l_ui-content .stuan-item p.img{position:relative;overflow:hidden}
.l_ui-content .stuan-item p.img .tran-bg,.stuan-item p.img .stuan-time{position:absolute;left:0;bottom:0;display:inline-block;*display:inline;
	*zoom:1;width:120px;height:22px;line-height:22px}
.l_ui-content .stuan-time i{font-weight:inherit}
.l_ui-content .stuan-item p.img .tran-bg{background:rgba(0, 0, 0, .4);background:#000\9!important;filter:alpha(opacity=40)}
.l_ui-content .stuan-item p.img .stuan-time{text-align:center;color:#fff;font-weight:bold}
.l_ui-content .stuan-item del,.stuan-item dfn{display:block}
.l_ui-content .stuan-item del{height:14px;line-height:14px}
.l_ui-content .stuan-item dfn{height:18px;line-height:18px}
.l_ui-content .stuan-item dfn i{font-size:18px}
.l_ui-content .travel-index{padding:0 10px 8px}
.l_ui-content .travel-index p{color:#888;margin-top:5px}
.l_ui-content .side-reviews{padding:0 10px 8px}
.l_ui-content .side-reviews .score-total{padding-top:10px}
.l_ui-content .side-guide{padding:0 10px 2px}
.l_ui-content .side-guide .img{float:left;display:inline;margin-right:10px}
.l_ui-content .side-guide.abtn{margin-top:6px}
.l_ui-content .side-guide p{line-height:18px}
.l_ui-content .guide-list{line-height:18px;margin-top:10px;clear:both}
.l_ui-content .guide-item{margin-bottom:6px}
.l_ui-content .guide-item a{display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#333}
.l_ui-content .guide-item a:hover{color:#019934}
.l_ui-content .guide-item-info{color:#888}
.l_ui-content dfn,.l_ui-content dfn i,.l_ui-content dfn em,.l_ui-content samp,.l_ui-content samp i{color:#f60}		
/*!
 * 右边结束
 **/

 /*!
 * 左边开始
 **/
.l_ui-content i.arrow{ background:url(../images/combo.gif) 1000px 1000px no-repeat; display:inline-block; *display:inline;*zoom:1;}
.l_ui-content .search-nav{clear:both;padding-left:1px}
.l_ui-content .search-nav li{position:relative}
.l_ui-content .search-nav li .icon-hot{position:absolute;top:-5px;right:5px}
.l_ui-content .search-nav-item{float:left;display:inline;*zoom:1;height:27px;line-height:27px;border-style:solid;border-color:#c6c6c6;
	 	border-width:1px 1px 0 0;padding:1px}
.l_ui-content .item-all{border-left:1px solid #c6c6c6}
.l_ui-content .search-nav-item a{display:block;float:left;color:#333;padding:0 9px;background:#f3f3f3}
.l_ui-content .search-nav-item a small{color:#888;font-size:11px}
.l_ui-content .search-nav-item a:hover{color:#019934;text-decoration:none}
.l_ui-content .search-nav-item a:hover small{color:#019934}
.l_ui-content .search-nav-item b{font-size:12px}
.l_ui-content .search-nav-itemb{background:#fdeff3;border-width:1px 1px 0 1px;border-color:#fcafc8}
.l_ui-content .search-nav-itemb a{background:#fdeff3}
.l_ui-content .search-nav .search-nav-itemb{margin-left:-1px}
.l_ui-content .search-nav-item-selected{background:#019934;padding-left:13px;margin:0 0 0 -1px;height:30px;line-height:30px;padding:0;border:none}
.l_ui-content .search-nav-item-selected a{color:#019934;background:none;color:#fff;background:none}
.l_ui-content .search-nav-item-selected a small,
.l_ui-content .search-nav-item-selected a:hover,
.l_ui-content .search-nav-item-selected a:hover small{color:#fff}
.l_ui-content .search-nav .divider-v{width:10px;height:27px}
.l_ui-content .filter-order{background:#fafafa;height:24px;padding:6px 10px;border:1px solid #ddd;margin-bottom:10px}
.l_ui-content .search-line-list .filter-order{margin-bottom:0}
.l_ui-content .filter-order label{cursor:pointer;vertical-align:middle}
.l_ui-content .search-line .filter-order{background:#fafafa url(../images/btn-block.gif) 0 -66px repeat-x;height:57px;overflow:hidden}
.l_ui-content .viewpoint-box .filter-order{background:#fff}
.l_ui-content .filter-order label{vertical-align:middle;*vertical-align:top}
.l_ui-content .filter-order .input-checkbox{position:relative;top:2px;padding-right:3px}
.l_ui-content .lv-order,
.l_ui-content .comment-order,
.l_ui-content .feedback-order,
.l_ui-content .price-order,
.l_ui-content .button,
.l_ui-content .current-order{background:url(../images/btn-block.gif) repeat-x;display:inline-block;*display:inline;
	 	*zoom:1;border:1px solid #cbcbcb;height:16px;line-height:16px;padding:3px 5px;text-align:center;cursor:pointer;overflow
		:hidden;position:relative}
.l_ui-content .lv-order,
.l_ui-content .comment-order,
.l_ui-content .feedback-order,
.l_ui-content .price-order,
.l_ui-content .priceform{vertical-align:top}
.l_ui-content .lv-order,
.l_ui-content .comment-order,
.l_ui-content .feedback-order,
.l_ui-content .price-order{background-position:0 -22px}
.l_ui-content .comment-order,.feedback-order,.price-order{padding-right:15px;padding-left:6px}
.l_ui-content .current-order{background-position:0 0;border-color:#10B901;color:#129400}
.l_ui-content .ico-order{background-position:0 -64px;width:16px;height:16px;position:absolute;right:1px;top:3px;_top:2px}
.l_ui-content .current-order .ico-order{background-position:0 -48px}
.l_ui-content .order-asc .ico-order{background-position:-16px -64px}
.l_ui-content .current-order.order-asc .ico-order{background-position:-16px -48px}
.l_ui-content .filter-order a{color:#333}
.l_ui-content .filter-order a{text-decoration:none}
.l_ui-content .filter-order a.current-order{color:#129400}
.l_ui-content input.button{display:inline-block;*display:inline;*zoom:1;background-position:0 -44px;width:47px;height:24px;line-height:22px;*outline:none;padding:0}
.l_ui-content input.button:foucs{outline:none}
.l_ui-content .priceform{margin-left:4px;padding:0 10px;display:inline-block;*display:inline;*zoom:1;width:112px;height:30px;margin-right:10px;position:relative;z-index:103}
.l_ui-content .priceform .button,
.l_ui-content .priceform .empty{display:none}
.l_ui-content .expand{border:1px solid #ddd;padding:6px 3px 5px 9px;position:absolute;top:-7px;left:0;background:#fff;overflow:hidden;width:117px}
.l_ui-content .expand .button,.expand .empty{display:inline-block;*display:inline;*zoom:1;margin:5px 5px 0 0}
.l_ui-content .expand .button{float:right}
.l_ui-content .result-search{clear:both;padding-top:4px}
.l_ui-content .result-search .input-text{width:112px;height:22px;line-height:22px;margin-right:5px;padding:0 3px;background:#fff;border:1px solid #ddd}
.l_ui-content .input-text{color:#888}
.l_ui-content .input-focus{color:#000 !important}
.l_ui-content .input-result-search{}
.l_ui-content .result-search .button{margin-right:10px}
.l_ui-content .empty{background:none;border:none;color:#888;height:24px;line-height:24px;vertical-align:top;position:relative;*top:6px}
.l_ui-content .reset-empty{cursor:pointer;color:#06c}
.l_ui-content .form-result-search input{vertical-align:top}
.l_ui-content .filter-order .pageoper{float:right;display:inline}
.l_ui-content .result-info{float:left;padding-right:20px;zoom:1}
.l_ui-content .filter-tags{clear:both}
.l_ui-content .your-choices{padding-left:65px;overflow:hidden;zoom:1}
.l_ui-content .your-choices dt,.your-choices dd{display:inline;float:left}
.l_ui-content .your-choices dt{margin-left:-65px}
.l_ui-content .your-choices dd{margin:0 3px 3px 0}
.l_ui-content .your-choices a{color:#019934;border:1px solid #d1d1d1;background:#fff;height:19px;line-height:19px;padding:0
	 3px 0 5px;float:left;white-space:nowrap;_height:17px;_padding:3px 3px 0 5px}
.l_ui-content .tags-empty a{color:#06C}
.l_ui-content .your-choices a:hover{color:#019934;text-decoration:none;border-color:#818181}
.l_ui-content .your-choices h6{color:#333;font-weight:normal;display:inline}
.l_ui-content .your-choices .icon-close{position:relative;top:3px;margin-left:3px;*top:0;*left:3px}
.l_ui-content .tags-empty a{border:none;height:22px;background:none;line-height:22px}
.l_ui-content .search-filter{border:1px solid #dbdbdb;border-top:2px solid #019934;color:#555;margin-bottom:10px}
.l_ui-content .filter-info{border-bottom:1px solid #ededed;line-height:22px;padding:8px 10px 4px;background:#f8f8f8;overflow: hidden;}
.l_ui-content .result-info i{font-style:normal;color:#f60}
.l_ui-content .filter-tags{overflow:hidden;padding:0 10px 5px 10px;color:#000}
.l_ui-content .filter-tags li{border-top:1px dashed #ddd;margin-top:-1px;line-height:20px;padding:8px 0;*zoom:1;max-height:34px;_height:15px;overflow:hidden}
.l_ui-content .filter-tags li.more{max-height:1000px;_height:auto}
.l_ui-content .filter-tags li span{float:left}
.l_ui-content .filter-tags li p{overflow:hidden;margin-right:50px;}
.l_ui-content .filter-tags .s-tag{display:inline-block;*display:inline;*zoom:1;padding:0 6px;vertical-align:baseline;margin:0 5px 1px 0;height:20px;line-height:20px}
.l_ui-content .filter-tags .selected{background:#019934;font-weight:bold;color:#fff}
.l_ui-content .filter-tags p a:hover{background:#019934;color:#fff;text-decoration:none}
.l_ui-content .filter-tags .view-more{float:right;display:inline;margin-left:10px;display:none}
.l_ui-content .checkbox a,.radio a{background:url(../images/combo.gif) no-repeat;display:inline-block;margin-right:5px;padding-left:18px;color:#333;height:18px;line-height:18px;padding-right:2px;vertical-align:middle;*vertical-align:bottom}
.l_ui-content .filter-tags .checkbox a,.filter-tags .radio a{vertical-align:top}
.l_ui-content .checkbox a.selected,.checkbox a:hover,.radio a.selected,.radio a:hover{background:url(../images/combo.gif) no-repeat}
.l_ui-content .radio a{background-position:-285px 2px}
.l_ui-content .radio a.selected,.radio a:hover{background-position:-285px -18px !important;text-decoration:none}
.l_ui-content .checkbox a{background-position:-285px -38px}
.l_ui-content .checkbox a.selected,.checkbox a:hover{background-position:-285px -58px !important;text-decoration:none}
.l_ui-content .filter-tags .checkbox a.selected,
.l_ui-content .filter-tags .radio a.selected,
.l_ui-content .filter-tags .checkbox a:hover,
.l_ui-content .filter-tags .radio a:hover{background:url(../images/combo.gif) no-repeat #019934;color:#fff}
.l_ui-content .promotions{color:#f60;height:20px;line-height:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.l_ui-content .pro-type{display:inline-block;*display:inline;*zoom:1;height:16px;line-height:16px;width:52px;overflow:hidden;
 	-webkit-text-size-adjust:none;font-size:11px;margin-right:3px;vertical-align:top;*position:relative;*top:-2px}
.l_ui-content .pro-type{background:url(../images/combo.gif) no-repeat}
.l_ui-content .tickets-info .pro-type{background-position:-122px -144px}
.l_ui-content .viewpoint-info .pro-type{background-position:-122px -128px}
.l_ui-content .search-result-box{clear:both}.msg-warn{margin-bottom:10px}
.l_ui-content .search-result-box .msg-warn{margin:10px 0}
.l_ui-content .slist-item{background:url(../images/bg-x.gif) 0 0 repeat-x;border-style:solid;border-color:#019934 #ddd #ddd;
 	border-width:2px 1px 1px;padding:0 0 10px;margin-bottom:10px}
.l_ui-content .search-line-list .slist-item{border:none;background:none}
.l_ui-content .search-line-list .slist-itemplus{margin-top:-21px;padding:0px;border:1px solid #e0e0e0;background:#f8f8f8}
.l_ui-content .search-line-list .slist-item{}
.l_ui-content .search-result-item{padding:15px 10px 0;border-bottom:none;overflow:hidden}
.l_ui-content .view-more,
.l_ui-content  .hide-more {display: inline-block; line-height: 22px;cursor: pointer;}
.l_ui-content  i.arrow {
background-position: 0 -112px;
width: 16px;
height: 16px;
margin: 2px 0 0 3px;
vertical-align: top;
}
.l_ui-content .hide-more .arrow {
background-position: -16px -112px;
}
.l_ui-content .comment-order, 
.l_ui-content .feedback-order,
.l_ui-content .price-order {
padding-right: 15px;
padding-left: 6px;
}
.l_ui-content .J_price .input-text {
width: 39px;
height: 22px;
padding: 0 3px;
line-height: 22px;
border: 1px solid #ddd;
color: #888;
vertical-align: top;
}
.l_ui-content .page-prev,
.l_ui-content .page-next {
display: inline-block;
border: 1px solid #dfdfdf;
height: 20px;
line-height: 20px;
background: #fff;
color: #555;
position: relative;
padding: 0 4px 0 15px;
}
.l_ui-content .page-arrow{
background: url(../images/combo.gif) 1000px 1000px no-repeat;
display: inline-block;
width: 16px;
height: 16px;
overflow: hidden;
position: absolute;
top: 2px;
_top: 1px;
}
.l_ui-content .page-arrow-left {
background-position: 0 -80px;
left: 0px;
}
.l_ui-content .page-arrow-right {
background-position: -16px -80px;
right: 0px;
}
.l_ui-content .page-next {
padding: 0 15px 0 4px;
}
.l_ui-content .search-result-item
 .img {
float: left;
display: inline;
margin-right: 20px;
width: 170px;
overflow: hidden;
}
.l_ui-content .line-info{border-bottom:1px solid #eee;padding-bottom:10px}
.l_ui-content .line-info:hover{background:#fafafa}
.l_ui-content .slist-itemplus .line-info{border-bottom:none;border-top:1px solid #eee;margin-top:-1px}
.l_ui-content .slist-itemplus .line-info:hover{background:none}.search-result-item
.l_ui-content .img{float:left;display:inline;margin-right:20px;width:170px;overflow:hidden}
.l_ui-content .search-result-item .img img{border:1px solid #dedede}
.l_ui-content .search-result-item .info{float:right;width:110px;text-align:right;overflow:hidden;line-height:20px}
.l_ui-content .search-result-item .info .comment-num{clear:both;display:block}
.l_ui-content .s-price{margin-bottom:3px;display:block}
.l_ui-content .s-price i{font-size:20px;font-style: normal;}
.l_ui-content .product-name a{*vertical-align:baseline}
.l_ui-content .info .cashback{clear:both;margin-top:-2px}
.l_ui-content .info .booking{color:#f60;clear:both;display:block}
.l_ui-content .search-result-item .intro{overflow:hidden;word-wrap:break-word;*zoom:1;padding-right:55px}
.l_ui-content .intro h5,.short-intro h5{font-size:14px;line-height:20px;margin-bottom:3px;max-height:40px;_height:40px;overflow:hidden}
.l_ui-content .intro h5 small{font-weight:normal;padding-right:3px;font-size:12px;color:#000}
.l_ui-content .intro h5 small.star{color:#e08;padding-left:10px}.short-intro small{font-size:12px;font-weight:normal}
.l_ui-content .route{line-height:20px;margin-top:3px}
.l_ui-content .route span{ background:#3C6; margin-right:10px; padding:0 5px; line-height:30px; color:#FFF;}
.l_ui-content .line-info.route{color:#555}
.l_ui-content .route b{font-weight:normal;padding-right:10px}
.l_ui-content .intro h5 a{
	color: #06c;
	font-weight: bold;
}
.l_ui-content .tags201 {
	display: block;
	float: right;
	
width: 72px;
height: 26px;
line-height: 26px;
margin: 0 0 8px 0;
padding: 0 0 9px 0;
overflow: hidden;
white-space: nowrap;
background-position: -32px -136px;
font-size: 12px;
color: #ee6600;
text-align: center;
text-indent: 0;
top: 0 !important;
}
.l_ui-content .tagsback:hover {
text-decoration: none;
color: #ff9614;
}
.l_ui-content .tagsback em {
background: #ff9614;
color: #fff;
}
.l_ui-content .tagsback {
font-size: 12px;
height: 14px;
line-height: 14px;
text-decoration: none;
border: 1px solid  #ff9614;
}
.l_ui-content .tagsback i{
padding: 0 3px;
min-width: 30px;
_width: 30px;
text-align: center;
color: #ff9614;
}
.l_ui-content .tags101{
display: inline-block;
margin-top:10px;
font-size: 12px;
font-style: normal;

}
.l_ui-content .comment-num{
	color: #06c;
}
.l_ui-content .comment-num01{
	color: #666;
}
.l_ui-content .mb10 {
margin-bottom: 10px;
}
.l_ui-content .pages {
margin: 10px 0 0;
text-align: right;
}
.l_ui-content .pages .PageSel, 
.l_ui-content .rosestyle .PageSel {
font-weight: bold;
border: 1px solid #019934;
color: #fff;
background: #019934 ;
}
.l_ui-content .pages a{
border: 1px solid #ddd;
color: #333;
background: #fff;
}
.l_ui-content .pages a, 
.l_ui-content .pages span {
display: inline-block;
_zoom: 1;
margin-left: 5px;
padding: 0 9px;
height: 25px;
line-height: 25px;
}

/*订购指南等*/
.l_buttom {
width: 960px;
padding: 0
 0 10px 10px;
margin: 10px
 auto 0;
overflow: hidden;
zoom: 1;
clear: both;
font: 12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;
}
.l_buttom .l_buttom_list{margin:0 20px 0 20px;_margin:0 15px 0 15px;display:inline;line-height:22px;width:200px;float:left;overflow:hidden}
.l_buttom .l_buttom_list b{display:block;font-size:12px;margin-bottom:3px}
.l_buttom .l_buttom_list a{display:block;padding-left:28px;white-space:nowrap;color:#888;text-overflow:ellipsis;overflow:hidden}
.l_buttom .l_buttom_list a:hover{color:#019934}
.l_buttom .l_buttom_list_tit1,.l_buttom_list_tit2,.l_buttom_list_tit3,.l_buttom_list_tit4{background:url(../images/icon.gif) no-repeat}
.l_buttom .l_buttom_list b{padding:0 0 4px 30px;font-weight:bold;border-bottom:1px solid #ddd}
.l_buttom .l_buttom_list_tit1{background-position:8px 3px}
.l_buttom .l_buttom_list_tit2{background-position:8px -38px}
.l_buttom .l_buttom_list_tit3{background-position:8px -78px}
.l_buttom .l_buttom_list_tit4{background-position:8px -117px}

/*底部*/

.l_footer{margin:0 auto;padding:10px 0;border-top:2px solid #019934;font-family:Arial,\5b8b\4f53;font-size:12px;clear:both;text-align:center}
.l_footer .footer-link,
.l_footer.lv-copyright{line-height:22px;clear:both;color:#888}
.l_footer .footer-link{color:#ccc}
.l_footer .footer-link a,.lv-copyright a{text-decoration:none;font-weight:normal !important;color:#888}
.l_footer .footer-link a{padding:0 10px}
.l_footer .lv-safety{display:block;margin:5px auto 0;width:620px;height:35px;background-position:0 0;background: url(../images/imghf8.png) no-repeat;}
.l_footer .lv-safety a{display:inline-block;float:left;height:100%;width:52px}
.l_footer .lv-safety a.safety4{width:75px}
.l_footer .lv-safety a.safety7{width:90px}
.l_footer .lv-safety a.safety8{width:90px}
.l_sj_pop {
position: fixed;
z-index: 999;
bottom: 200px;
left: 50%;
margin-left: 520px;
width: 108px;
height: 235px;
padding: 0;
text-align: center;
overflow: hidden;
line-height: 16px;
_position: absolute;
_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-200+"px");
}





